<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/main_about.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Sobre</title>
</head>
<body class="body">

    <header-component></header-component>
    <nav-component></nav-component>

    <main>
        <p>
            Olá, seja bem-vindo(a)!
            Meu nome é Marina Carreira, sou fisioterapeuta formada pelo Centro Universitário
            de Belo Horizonte (UniBH) e instrutora de Pilates há 5 anos.<br>
            Sou apaixonada pelo poder do movimento consciente e acredito que cuidar do corpo é
            cuidar da vida!
        </p>

        <p>
            Criei este espaço para tornar o Pilates mais acessível, descomplicado e transformador.<br>
            Aqui, o foco é promover alívio das dores, fortalecimento muscular, melhora da postura e mais 
            qualidade de vida, sempre de forma acolhedora e personalizada.
            Além das aulas de Pilates, também realizo atendimentos domiciliares em fisioterapia, 
            para quem busca um cuidado ainda mais individualizado.
        </p>
            
        <p>
            Investir em movimento é investir em saúde, vitalidade e bem-estar!
            Será um prazer te acompanhar nessa jornada!
            Vamos juntos cuidar do que você tem de mais precioso: seu corpo e sua qualidade de vida.
            Te espero no estúdio!
        </p>
    </main>




    <footer-component></footer-component>

    <script src="../js/header.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>