<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Artigos</title>
</head>
<body class="body">

    <header-component></header-component>
    <nav-component></nav-component>

    <main onclick="closeSidebar()" class="main-articles" id="main">
        
        <div class="content">
            <h1>Artigos</h1>
            <div class="article-title">
                <a href="article1.html" class="article">
                    <h2>Entenda os benefícios do pilates para sua coluna</h2>
                </a>
                
            </div>

            <div class="article-title">
                <a href="article2.html" class="article">
                    <h2>Pilates para terceira idade: movimento com segurança e qualidade de vida</h2>
                </a>
                
            </div>

            <div class="article-title">
                <a href="article3.html" class="article">
                    <h2>Pilates e Fisioterapia para corredores amadores: mais desempenho, menos lesões</h2>
                </a>
            </div>

            <div class="button-agendar" id="button-agendar-service">
                <a href="https://api.whatsapp.com/send/?phone=5531993359110&text&type=phone_number&app_absent=0" target="_blank">Agende sua sessão</a>
            </div>

        </div>
        
    </main>

    <footer-component></footer-component>

    <script src="../js/header.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/nav_sidebar.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>