<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Artigos</title>
</head>
<body class="body">
    <script src="../js/header.js"></script>
    <script src="../js/nav.js"></script>

    <main>
        <h1>Artigos</h1>

        <div class="article1">
            <a href="">
                <h2>Entenda os benefícios para sua coluna</h2>
            </a>
            
        </div>
        
        <div class="article2">
            <a href="">
                <h2>Pilates para terceira idade: movimento com segurança e qualidade de vida</h2>
            </a>
            
        </div>

        <div class="article3">
            <a href="">
                <h2>Pilates e Fisioterapia para corredores amadores: mais desempenho, menos lesões</h2>
            </a>
        </div>
    </main>
  
    <script src="../js/footer.js"></script>
</body>
</html>