<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>
<body>
    <header-component></header-component>
    <nav-component></nav-component>

    <main class="main-depoimento" id="main">

        <div class="depoimento">
            <p class="depoimento-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo vel ut, 
                ullam autem facere nesciunt temporibus reprehenderit soluta assumenda officia, a dolores, 
                impedit sunt quidem iste quae accusamus quam consectetur.
            </p>
            <p class="depoimento-client">Sabino Afonso</p>
        </div>

        <div class="depoimento">
            <p class="depoimento-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo vel ut, 
                ullam autem facere nesciunt temporibus reprehenderit soluta assumenda officia, a dolores, 
                impedit sunt quidem iste quae accusamus quam consectetur.
            </p>
            <p class="depoimento-client">Marina Carreira</p>
        </div>

        <div class="depoimento">
            <p class="depoimento-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo vel ut, 
                ullam autem facere nesciunt temporibus reprehenderit soluta assumenda officia, a dolores, 
                impedit sunt quidem iste quae accusamus quam consectetur.
            </p>
            <p class="depoimento-client">Cliente 3</p>
        </div>

        <div class="depoimento">
            <p class="depoimento-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo vel ut, 
                ullam autem facere nesciunt temporibus reprehenderit soluta assumenda officia, a dolores, 
                impedit sunt quidem iste quae accusamus quam consectetur.
            </p>
            <p class="depoimento-client">Cliente 4</p>
        </div>

    </main>

    <footer-component></footer-component>
    
    <script src="../js/header.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/nav_sidebar.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>