<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/main_home.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Home</title>
</head>

<body class="body">
    
    <header-component></header-component>
    <nav-component></nav-component>
    
    <main class="main-home">

        <section class="invite">
            <div class="invite-paragraph">
                <p class="first">Aulas personalizadas com foco em alívio de dores, melhora da postura e
                    qualidade de vida. 
                </p>
    
                <p class="second">
                    Técnica, segurança e cuidado em cada movimento.
                </p>
    
                <p class="third">Aqui cada sessão é planejada para atender suas necessidades 
                    com acolhimento e resultados reais. 
                </p>
            </div>

            <button type="button">
                Agende Sua Sessão
            </button>
        </section>

        <hr>

        <section class="exercises">
            <div class="exercise-img">
                <img src="" alt="procedimento 1">
                <div class="description-exercise">procedimento 1</div>
            </div>

            <div class="exercise-img">
                <img src="" alt="procedimento 2">
                <div class="description-exercise">procedimento 2</div>
            </div>

            <div class="exercise-img">
                <img src="" alt="procedimento 3">
                <div class="description-exercise">procedimento 3</div>
            </div>
        </section>

        <hr>

        <section class="services">
            <h1>Serviços</h1>

            <div class="service-icone">
                <img src="../files/pilates.png" alt="pilates">
                <div class="service-name">Pilates</div>
            </div>
            
            <div class="service-icone">
                <img src="../files/fisioterapia.png" alt="fisioterapia">
                <div class="service-name">Fisioterapia</div>
            </div>

            <div class="service-icone">
                <img src="../files/fisio_domociliar.png" alt="fisio-domiciliar">
                <div class="service-name">Fisioterapia Domiciliar</div>
            </div>

            
            
        </section>

        <div class="btn-know-more">
            <a href="services.html">Saiba Mais</a>
        </div>
        
    </main>

    <footer-component></footer-component>
   
    
    <script src="../js/header.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>