<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Home</title>
</head>
<body>
    <div class="header"></div>
    <nav>
        <ul>
            <li><a href="about.html">Sobre</a></li>
            <li><a href="services.html">Serviços</a></li>
            <li><a href="articles.html">Artigos</a></li>
            <li><a href="contacts.html">Contato</a></li>
        </ul>
    </nav>
    <main>
        <section class="invite">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Modi et nisi expedita ad sapiente qui ipsa est temporibus 
                provident ipsam, earum in possimus? Consequatur, sapiente 
            </p>
            <button type="button">Agende sua Sessão</button>
        </section>

        <section class="img">
            <div>
                <img src="" alt="imagem 1">
                <p>procedimento 1</p>
            </div>

            <div>
                <img src="" alt="imagem 2">
                <p>procedimento 2</p>
            </div>

            <div>
                <img src="" alt="imagem 3">
                <p>procedimento 3</p>
            </div>
        </section>

        <section class="service">
            <h1>Serviços</h1>

            <div class="icone-pilates">
                <img src="" alt="icone pilates">
                <p>Pilates</p>
            </div>
            
            <div class="fisio">
                <img src="" alt="icone fisioterapia">
                <p>Fisioterapia</p>
            </div>

            <div class="fisio-domiciliar">
                <img src="" alt="icone fisioterapia domiciliar">
                <p>Fisioterapia domiciliar</p>
            </div>

            <button type="button">Saiba Mais</button>
        </section>
    </main>


    <div class="footer"></div>

    <script src="../js/utils.js"></script>
</body>
</html>