<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Serviços</title>
</head>
<body class="body">
    <script src="../js/header.js"></script>
    <script src="../js/nav.js"></script>

    <main>
        <h1>Serviços</h1>
        <section>
            <h2>FISIOTERAPIA ORTOPÉDICA</h2>
            <p>
                Tratamentos personalizados para lesões musculares, articulares e da coluna. 
                Através de técnicas baseadas em evidências, promovemos alívio da dor, reabilitação 
                funcional e retorno seguro às atividades do dia a dia. 
            </p>
        </section>

        <section>
            <h2>FISIOTERAPIA PARA IDOSOS</h2>
            <p>
                Atendimento voltado para a promoção da autonomia, equilíbrio, 
                força e qualidade de vida na terceira idade. Cuidamos com atenção 
                e segurança, respeitando o ritmo e as necessidades de cada paciente 
            </p>
        </section>

        <section>
            <h2>FISIOTERAPIA DOMICILIAR</h2>
            <p>
                Ideal para quem busca praticidade, conforto e cuidado no próprio lar. 
                Levamos até você um atendimento completo. 
            </p>
        </section>

        <section>
            <h2>PÓS OPERATÓRIOS</h2>
            <p>
                Acompanhamento especializado no processo de recuperação após cirurgias ortopédicas.
                O objetivo é acelerar a reabilitação, reduzir dores, prevenir complicações e garantir 
                um retorno funcional e seguro
        </section>

        <section>
            <h2>PILATES</h2>
            <p>
                Método completo que fortalece o corpo, melhora a postura, alivia dores e promove bem-estar. 
                As aulas são conduzidas por fisioterapeuta e podem ser realizadas de forma individual, 
                em dupla ou em grupo de no máximo 3 alunos, sempre com atenção às necessidades e objetivos 
                de cada aluno.
            </p>
        </section>

    </main>



   
    <script src="../js/footer.js"></script>
</body>
</html>