@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

:root {
    --font-color: #162A3B;
    --backgrund_color_header:  #5f809b;
    --backgrounf_color_nav: #466782;
    --background_color_main: #e3eef7;
    --background_color_button: #586169;
    --background_color_button_hoover: #10181f;
    --cinza_service_border: #4c595a2e;
    --backgroung_font_color_nav: #4a5b6a;
    --color_font_nav: #dee3ee;
    --color_font_button_agendar: #ffffff;
    --color_font_nav_hoover: #3a3a7e;
    --background_color_nav_hoover: #ebeff3;
    

}

/* Estilo do Geral */

body {
    margin: 0;
    color: var(--font-color);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Estile do Header */

.header {
    background-color: var(--backgrund_color_header);
    padding: 0;
}


.header img {
    width: 200px;
    height: 100px;
    margin: 5px;
}

/* Estile do NavBar */
.nav {
    background-color: var(--backgrounf_color_nav);
    z-index: 2;
}

.btn-icon-header, .btn-icon-nav{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.nav-links a{
    color: var(--color_font_nav);
    font-size: 12.50px;
    font-weight: bold;
    text-decoration: none;
    display:inline-block;
    background-color: var(--backgroung_font_color_nav);
    border-radius: 5px; 
    margin: 10px;
    padding: 5px;
}

.nav-links a:hover {
    color: var(--color_font_nav_hoover);
    background-color: var(--background_color_nav_hoover);
    transition: 1s;
}


/* Estilo do Main da Home page */

.main-home {
    background-color: var(--background_color_main);
    padding: 5px;
}

.invite {
    padding: 5px;
}

hr {
    margin: 20px 10px;
    opacity: 0.5;
}

#invite-paragraph {
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
    margin: 20px;
}

.button-agendar {
    margin: 20px;
    padding: 20px;
}

.button-agendar a{
    color: var(--color_font_button_agendar);
    background-color: var(--background_color_button);
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;

}

.button-agendar a:hover{
    background-color: var(--background_color_button_hoover);
    transition: 1s;
    cursor: pointer;
}

.exercises {
    padding: 5px;
}

.exercise-img {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.exercise-img img{
    width: 250px;
    height: 350px;
    border: none;
    border-radius: 7px;
}

.description-exercise {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}

.services {
    padding: 5px;
}

.services h2 {
    font-size: 35px;
}

.service-icone {
    display: inline-block;
    margin: 20px;
    padding: 20px;
}


.service-icone img {
    margin: 0 25px;
    width: 100px;
    border-bottom: solid 1px #4c595a2e;
}

.service-name {
    font-size: 12.50px;
    font-weight: bold;
    padding: 5px;
}


.services .btn-know-more {
    margin: 20px;
    padding: 20px;
}

.services .btn-know-more a{
    color: var(--color_font_button_agendar);
    background-color: var(--background_color_button);
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}

.btn-know-more a:hover{
    background-color: var(--background_color_button_hoover);
    transition: 1s;
    cursor: pointer;
}


/* espaçamento do conteudo d todas as páginas exceto o index */


.btn-voltar {
    background-color: transparent;
    border: none;
}

.btn-voltar:hover {
    cursor: pointer;
}

#main {
    padding: 5px;
    background-color: var(--background_color_main);
}

.content{
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    text-align: justify;
}

.content h1 {
    font-size: 40px;
    text-align: center;
}

.content h2 {
    font-size: 25px;
}

.content h3 {
    font-size: 20px;
}


/* Estilo Main About */

.main-about .content p {
    padding: 5px;
}


.button-agendar {
    text-align: center;
}

/* Estilo Main Services */

.main-services section{
    padding: 5px;
}

.main-services h1{
    padding-bottom: 20px;
    text-align: center;
}


/* Estilo Main Articles */

.main-articles h1{
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.main-articles .article-title {
    font-size: 5px;
    text-align: justify;
    padding: 5px;
    border-top: solid 2px #807474;
}


.main-articles .article{
    color: var(--font-color);
}


.main-articles .article:link{
    text-decoration: none;
    font-size: 18px;
}

.main-articles .article:hover {
    font-size: 20px;
}

/* Estilos das Páginas de artigos */

.aticle-text {
    margin-bottom: 50px;
}


.aticle-text ul{
    list-style-type: disc;
    list-style-position:inside
}


/* Estilo do Depoimentos */

.depoimento {
    padding: 10px;
}


/* Estilo do Footer */

.footer {
    background-color: var(--backgrund_color_header);
    padding: 10px;
}


.footer h3 {
    font-size: 20px;
    padding: 5px;
}


ul {
    padding: 5px;

}

.list-links-quickly a{
    display: inline-block;
    font-size: 12.50px;
    color: var(--color_font_nav);
    background-color: #6b89a1;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.list-links-quickly a:hover {
    color: var(--color_font_nav_hoover);
    background-color: var(--background_color_nav_hoover);
    transition: 1s;
}

.footer a {
    cursor: pointer;
}

.footer img {
    margin: 5px;
    padding: 5px;
}

.endereco {
    margin: 10px;
}

.endereco p {
    font-size: 15px;
    font-weight: bold;
}

iframe {
    height: 250px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.copywriter {
    font-size: 12.50px;
    padding: 5px;
    background-color: #3d5a72;
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: 0vw;}
}

/* Estilos quando a largura da tela for igla ou menor que 340 pixels */

@media screen and (max-width: 680px) {

    /* Header */

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        align-items: center;
    }

    .btn-icon-header{
        display: block;
    } 

    /* Nav */

    .nav {
        top: 0;
        position: absolute;
        padding: 20px;
        height: 100%;
        width: 40vw;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .nav-links {
        margin-top: 25px;
        padding-top: 10px;
    }

    .btn-icon-nav {
        display: inline;
        padding-bottom: 10px;
    }

    .nav-links a{
        display: block;
        padding: 5px 0;
        margin: 20px;
    } 

    /* Home */
    #invite-paragraph {
        font-size: 15px;
        margin: 15px;
        padding: 15px;
    }

    .button-agendar a{
        font-size: 15px;
        padding: 10px;
        margin: 10px;
    }

    
    .exercise-img img{
        width: 200px;
        height: 250px;
    }

    .exercise-img {
        margin: 20px;
    }

    .description-exercise {
        font-size: 15px;
    }

    .service-icone {
        margin: 10px;
    }
    
    .service-icone img {
        margin: 10px;
        width: 50px;
    }

    .service-name {
        font-size: 12px;
        padding: 3px;
    }

    .btn-know-more a{
        padding: 10px 20px;
        font-size: 15px;
    }

    /* Font-size em todas as páginas exceto a home*/
    
    .content h1{
        font-size: 30px;
    }

    .content h2 {
    font-size: 20px;
    }

    .content h3 {
        font-size: 15px;
    }

    .content p{
        font-size: 12.50px;
    }



    /* Footer*/
    .footer h3 {
        font-size: 15px;
    }

    .list-links-quickly a{
        font-size: 15px;
        display: block;
        margin: 10px 5px;
        padding: 5px;
    }

    .endereco p {
        font-size: 12px;
    }

    iframe {
        width: 100%;
        height: 200px;
        border: none;
        border-radius: 3px;       
    }  

    .copywriter {
        font-size: 10px;
        background-color: #3d5a72;
    }

    
    
    
}